* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #4B4453;
}
.wrap .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.wrap .container .title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.wrap .container .game {
  width: 300px;
  height: 540px;
  background-color: #fff;
  position: relative;
}
.wrap .container .game .start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  font-size: 20px;
  background-color: #845EC2;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  z-index: 9;
  visibility: visible;
}
.wrap .container .game .start.hidden {
  visibility: hidden;
}
.wrap .container .game .model {
  position: absolute;
}
.wrap .container .game .model .block {
  position: absolute;
  width: calc(30 * 1px);
  height: calc(30 * 1px);
  background-image: linear-gradient(to right, #FF8489 0%, #fbb0b3 100%);
  background-image: linear-gradient(to right, #D7749B 0%, #e991b4 100%);
  background-image: linear-gradient(to right, #A46C9F 0%, #d195cc 100%);
  background-image: linear-gradient(to right, #706493 0%, #9081bc 100%);
  background-image: linear-gradient(to right, #FF8359 0%, #f7ab91 100%);
  background-image: linear-gradient(to right, #9BB41E 0%, #d0e46a 100%);
  background-image: linear-gradient(to right, #339E3D 0%, #339E3D 100%);
  border: 0.5px solid #fff;
  opacity: 1;
}
.wrap .container .game .model .block.hidden {
  transition: all 1s;
  opacity: 0;
}
.wrap .container .end {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #C34A36;
  font-size: 0px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.wrap .container .end.active {
  font-size: 30px;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}
.wrap .controlBtn {
  position: relative;
  display: none;
  width: 300px;
  height: 120px;
}
.wrap .controlBtn .key {
  position: absolute;
  cursor: pointer;
}
.wrap .controlBtn .key.rotate {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.wrap .controlBtn .key.down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.wrap .controlBtn .key.left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.wrap .controlBtn .key.right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.wrap .controlBtn .key button {
  font-family: "iconfont";
  border: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  color: #fff;
  background-color: #845EC2;
  border-radius: 10px;
  user-select: none;
}
@media screen and (max-width: 1024px) {
  .wrap .controlBtn {
    display: block;
  }
}
@media screen and (max-width: 810px) {
  .wrap {
    padding-top: 10px;
  }
  .wrap .container {
    justify-content: flex-start;
  }
  .wrap .container .title {
    display: none;
  }
}
