/* font-family: 'Poppins', sans-serif; */

/* reset 初始化 */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

html {
  /* 1rem = 10px */
  font-size: 10px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* project variables 项目变量: 定义全局的less变量 css中的全局变量。需要放在 :root{}中 */
/* 字体相关的变量 */
@first-font: "Poppins", sans-serif;
@size-font: 1.5rem;
@medium-font: 500;
@semi-font: 600;

/* 颜色相关的变量 */

/* medium blue */
// @theme-color: 210;
@theme-color: 275;
/* #0069D1 */
@first-color: hsl(@theme-color, 100%, 41%);

@first-color-hover: hsl(@theme-color, 100%, 35%);
@first-color-lighter: hsl(@theme-color, 50%, 85%);

// @title-color: hsl(@theme-color, 8%, 15%);
// @text-color: hsl(@theme-color, 8%, 45%);
@text-color-lighter: hsl(@theme-color, 8%, 65%);
// @input-color: hsl(@theme-color, 70%, 96%);
@label-button: hsl(@theme-color, 100%, 10%);
// @background-color: hsl(@theme-color, 60%, 100%);
// @high-contrast: hsl(@theme-color, 100%, 100%);
// @shadow-color: hsl(@theme-color, 10%, 90%);


/* project settings 项目设置 */
body {
  font-family: @first-font;
  font-size: @size-font;
  font-weight: @medium-font;
  background-color: @background-color;
  color: @text-color;
  margin: 0;
}

@title-color: var(--title-color, hsl(@theme-color, 8%, 15%));
@text-color: var(--text-color, hsl(@theme-color, 8%, 45%));
@input-color: var(--input-color, hsl(@theme-color, 70%, 96%));
@background-color: var(--background-color, hsl(@theme-color, 60%, 100%));
@high-contrast: var(--high-contrast, hsl(@theme-color, 100%, 100%));
@shadow-color: var(--shadow-color, hsl(@theme-color, 10%, 90%));


/* 暗黑主体颜色 */
body.dark-theme {
  --title-color: hsl(@theme-color, 8%, 95%);
  --text-color: hsl(@theme-color, 8%, 75%);
  --input-color: hsl(@theme-color, 29%, 16%);
  --background-color: hsl(@theme-color, 28%, 12%);
  --high-contrast: hsl(@theme-color, 100%, 100%);
  --shadow-color: hsl(@theme-color, 10%, 25%);

  // @title-color: hsl(@theme-color, 8%, 95%);
  // @text-color: hsl(@theme-color, 8%, 75%);
  // @input-color: hsl(@theme-color, 29%, 16%);
  // @background-color: hsl(@theme-color, 28%, 12%);
  // @high-contrast: hsl(@theme-color, 100%, 100%);
  // @shadow-color: hsl(@theme-color, 10%, 25%);
}

/*=== 公共样式reusable components start ===*/
.section {
  width: 100vw;
  height: auto;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.2rem 2.4rem 3.6rem;
    margin: 0 auto;
    // background-color: green;
  }
}

// 当屏幕宽度大于 610px 时
@media screen and (min-width: 610px) {
  .section {
    width: 100%;

    .container {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.4rem 2.4rem 5rem;
    }
  }
}

// 当屏幕宽度大于 1024px 时
@media screen and (min-width: 1024px) {
  .section {
    padding-top: 5rem;

    .container {
      width: 99.2rem;
      padding: 2.4rem 0rem 5rem;
    }
  }
}

.button() {
  font-family: @first-font;
  font-size: 1.5rem;
  color: @high-contrast;
  background-color: @first-color;
  // padding: 2rem 1.8rem;
  padding: 1.3rem 1rem;
  border-radius: 1rem;

  @media screen and (min-width: 1024px) {
    font-size: 1.6rem;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: @first-color-hover;
      transition: .3s;
    }
  }

  svg {
    margin-left: 0.5rem;

    path {
      fill: @high-contrast;
    }
  }
}

.section-title {
  width: 100%;
  text-align: center;
  padding: 3.6rem 0;

  .title {
    font-size: 2.4rem;
    font-weight: @semi-font;
    color: @title-color;

    @media screen and (min-width: 1024px) {
      font-size: 3.8rem;
    }
  }

  .subtitle {
    display: block;
    font-size: 1.3rem;
    color: @text-color-lighter;

    @media screen and (min-width: 1024px) {
      font-size: 1.5rem;
    }
  }
}

// 混入mixin实现：滑条动画(传入 动画名称以及需要的参数)
.slideAnimation (@name, @slideWidth, @state: paused) {
  @keyframes @name {
    0% {
      width: 0%;
    }

    100% {
      width: @slideWidth;
    }
  }

  // animation-fill-mode: forwards;动画结束后，停在结束位置
  // animation-play-state: paused; 默认不触发动画
  // animation-play-state: running; // running:执行动画
  animation: @name 1s ease-in-out @state forwards;
}

// 轮播图小圆点样式
.glide__bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .glide__bullet {
    width: 0.8rem;
    height: 0.8rem;
    background-color: @first-color-lighter;
    border-radius: 50%;
    text-indent: 999px; // 通过缩进将文本内容隐藏

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    // .glide__bullet--active是插件内置的类
    &.glide__bullet--active {
      background-color: @first-color;
    }
  }

}

/*=== 公共样式reusable components end ===*/


/* Header Start */
.header {
  height: 4.6rem;
  // 当屏幕为小屏幕时，header固定在页面下方
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: @background-color;
  z-index: 15;

  @media screen and (min-width: 1024px) {
    height: 5rem;
    top: 0;

    &.-scroll {
      box-shadow: 2px 0px 8px 2px rgba(0, 0, 0, .1);
    }
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.4rem;

    @media screen and (min-width: 1024px) {
      padding: 0;
      // background-color: pink;
    }

    .logo {
      color: @title-color;
      font-weight: @semi-font;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1;

      @media screen and (min-width: 1024px) {
        font-size: 1.6rem;
        transition: .3s;

        &:hover {
          color: @first-color-hover;
          transition: .3s;
        }
      }
    }

    .open-menu-button {
      width: 3.1rem;
      height: 4.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      background-color: transparent;
      padding: 0;

      // cursor: pointer;
      // 设置图标颜色
      svg {
        path {
          fill: @title-color
        }
      }

      @media screen and (min-width: 1024px) {
        display: none;
      }
    }

    .theme-button {
      width: 3.1rem;
      height: 4.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0;

      svg {

        // 暂时先隐藏日间模式图标
        &.light-mode {
          display: none;
        }

        &.dark-mode {
          display: block;
        }

        path {
          fill: @title-color
        }
      }

      &.-dark-mode {
        svg.light-mode {
          display: block;
        }

        svg.dark-mode {
          display: none;
        }
      }

      @media screen and (min-width: 1024px) {
        order: 2;
        cursor: pointer;
        transition: .3s;

        .light-mode,
        .dark-mode {
          path {
            transition: .3s;
          }
        }

        &:hover {
          path {
            fill: @first-color-hover;
            transition: .3s;
          }
        }
      }
    }

    .main-nav {
      position: absolute;
      width: 100%;
      height: 23rem;
      bottom: 0;
      left: 0;
      display: block;
      background-color: @background-color;
      border-radius: 2rem 2rem 0 0;
      box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, .2);
      z-index: 10;
      transform: translateY(100%);
      transition: .3s ease-in-out;

      &.-active {
        transform: translateY(0);
      }

      .list {
        width: 100%;
        height: 19rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 3.2rem;
        padding: 3.2rem 1.6rem 2.4rem;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;

          .link {

            // 当链接被点击激活后，文本以及图标颜色需要改变
            &.-active {
              color: @first-color;

              svg {
                path {
                  fill: @first-color
                }
              }
            }

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            gap: 5px;
            font-weight: @semi-font;
            color: @text-color;

            svg {
              path {
                fill: @text-color
              }
            }
          }
        }

      }

      .close-menu-button {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0 2.4rem;
        background-color: @background-color;
      }

      @media screen and (min-width: 1024px) {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        display: flex;
        padding: 0;
        transform: scale(1);
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;

        .close-menu-button {
          display: none;
        }

        .list {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 0 1.6rem;

          .item {
            margin-right: 0;
            padding: 0;
            cursor: pointer;

            .link {
              transition: .3s;
              font-size: 1.4rem;

              svg {
                display: none;
              }
            }

            &:hover {
              .link {
                color: @first-color-hover;
                transition: .3s;
              }
            }

            &:not(:first-child) {
              margin-left: 3rem;
            }
          }
        }
      }
    }

  }
}

/* Header End */


/* Home Start */
.home {
  padding: 0;

  .container {
    // height: 100vh;
    position: relative;
    padding-top: 3.6rem;

    @media screen and (min-width: 610px) {
      flex-direction: row-reverse;
      padding-top: 8rem;
      // padding-top: 3rem;
      padding-left: 7rem;
    }

    @media screen and (min-width: 1024px) {
      max-width: 99.2rem;
      height: 100vh;
      padding-left: 14rem;
      margin: 0 auto;
    }

    .home-social {
      // background-color: pink;
      position: absolute;
      left: 2.4rem;
      top: 12.4rem;

      @media screen and (min-width: 610px) {
        // 在屏幕中垂直居中
        top: 50%;
        transform: translateY(-50%);
      }

      .social {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;

        .item {

          // margin-bottom: 2rem;
          &:not(:last-child) {
            margin-bottom: 2rem;
          }

          .link {
            svg {
              path {
                fill: @first-color;
              }
            }

            &:hover {
              path {
                fill: @first-color-hover;
                transition: .3s;
              }
            }
          }

        }
      }

    }

    .home-perfil {
      width: 100vw;
      display: flex;
      justify-content: center;
      padding: 5rem 0 2.8rem;

      @media screen and (min-width: 610px) {
        padding: 0 0 2.8rem;
      }

      @media screen and (min-width: 1024px) {
        width: 95%;
      }

      .perfil {
        .mask {
          fill: @first-color;

          @media screen and (min-width: 1024px) {
            width: 33rem;
            height: auto;
          }
        }
      }

      .image {
        width: 100%;
        height: 100%;
      }
    }

    .home-content {
      font-weight: @medium-font;
      color: @text-color;
      padding-bottom: 3rem;

      .home-title {
        font-size: 3.2rem;
        font-size: @semi-font;
        color: @title-color;
      }

      .subtitle {
        display: inline-block;
        font-size: 1.8rem;
        margin-bottom: 1.4rem;
      }

      .text {
        font-size: 1.5rem;
        margin-bottom: 5rem;
        color: @text-color-lighter;
      }

      .contactme {
        // 混入.button()
        .button();
      }

      @media screen and (min-width: 610px) {
        padding-right: 3rem;

      }

      @media screen and (min-width: 1024px) {
        width: 105%;

        .home-title {
          width: 100%;
          font-size: 5rem;

          .subtitle {
            font-size: 2.1rem;

            .text {
              font-size: 1.6rem;
            }
          }
        }
      }
    }

    .scroll-down {
      display: none;
      position: absolute;
      bottom: 4rem;
      left: 14rem;
      width: 13rem;
      font-size: 1.4rem;
      font-weight: @semi-font;
      color: @title-color;
      // background-color: pink;
      transform: translateY(0);
      transition: .4s ease-in-out;

      @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
          path {
            fill: @first-color;
          }
        }

        &:hover {
          transition: .4s ease-in-out;
          transform: translateY(20%);
        }
      }
    }
  }
}

/* Home End */


/* About Start */
.about {
  width: 100%;
  .container {
    justify-content: center;
    align-items: center;

    .about-content {
      width: 100%;
      text-align: center;
      .description {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 28rem);
        font-size: 1.5rem;
        color: @text-color-lighter;
        text-align: center;
        margin-bottom: 6rem;
        gap: 10px;
        span {
          width: 100%;
          padding: 4rem 2rem 2rem;
          border-radius: 20px;
          box-shadow: 2px 2px 6px 3px @shadow-color;
          background-color: @background-color;
          text-align: center;
          .title {
            display: inline-block;
            padding-bottom: 2rem;
            font-size: 2rem;
            color: @title-color
          }
        }
        @media screen and (min-width: 1024px) {
          display: flex;
          justify-content: space-evenly;
          span {
            width: 30%;
            height: 30rem;
          }
        }
      }

      .about-numbers {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-bottom: 6rem;
        padding: 0 2rem;

        @media screen and (min-width: 610px) {
          padding: 0;
        }

        .item {
          text-align: center;

          .value {
            font-size: 2rem;
            font-weight: @semi-font;
            color: @title-color;

            @media screen and (min-width: 1024px) {
              font-size: 2.4rem;
            }
          }

          .text {
            font-size: 1.2rem;
            color: @text-color;

            @media screen and (min-width: 1024px) {
              font-size: 1.4rem;
            }
          }
        }
      }

      .download {
        margin: 0 auto;
        .button();
      }
    }
  }
}

/* About End */

/* Skills Start */
.skills {
  .container {
    /* 由于公用样式部分设置了flex布局，因此container的宽度默认是内容大小
      想让其占满一行，就需要改变布局，此时不使用flex
    */
    display: block;

    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 4rem 0;
    }

    .skill-accordion {
      width: 100%;
      max-width: 40rem;
      margin: 0 auto;

      .skill-button {
        font-family: @first-font;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        background-color: @background-color;

        @media screen and (min-width: 1024px) {
          cursor: pointer;
        }

        // 技能选项的图标
        .icon {
          path {
            fill: @first-color;
          }
        }

        .label {
          text-align: left;
          flex: 1;
          margin-left: 1.6rem;

          .title {
            font-size: 1.8rem;
            margin-bottom: 0.5rem;
            color: @text-color;

            @media screen and (min-width: 1024px) {
              font-size: 2.1rem;
            }
          }

          .subtitle {
            color: @text-color-lighter;
            font-size: 1.3rem;

            @media screen and (min-width: 1024px) {
              font-size: 1.4rem;
            }
          }
        }

        // 展示下拉内容的图标
        .chevron {
          transition: .3s ease;

          path {
            fill: @first-color;
          }
        }

        &.-active {
          .chevron {
            transform: rotate(180deg);
            transition: .3s ease;
          }

          // +表示相邻兄弟选择器
          &+.skill-content {
            height: auto;

            .skill-list {
              &.-first {
                .skill-bar {
                  &.-html:before {
                    .slideAnimation (html, 80%, running);
                  }

                  &.-css:before {
                    .slideAnimation (css, 80%, running);
                  }

                  &.-javascript:before {
                    .slideAnimation (js, 80%, running);
                  }

                  &.-jquery:before {
                    .slideAnimation (js, 80%, running);
                  }
                  &.-canvas:before {
                    .slideAnimation (canvas, 80%, running);
                  }
                  &.-ajax:before {
                    .slideAnimation (ajax, 80%, running);
                  }
                }
              }

              &.-second {
                .skill-bar {
                  &.-elemui:before {
                    .slideAnimation (elemui, 75%, running);
                  }

                  &.-echarts:before {
                    .slideAnimation (echarts, 80%, running);
                  }

                  &.-bootstrap:before {
                    .slideAnimation (bootstrap, 70%, running);
                  }

                }
              }

              &.-third {
                .skill-bar {
                  &.-vue:before {
                    .slideAnimation (vue, 80%, running);
                  }

                  &.-webpack:before {
                    .slideAnimation (webpack, 50%, running);
                  }

                  &.-Sketch:before {
                    .slideAnimation (Sketch, 90%, running);
                  }
                }
              }

              &.-fourth {
                .skill-bar {
                  &.-vuecli:before {
                    .slideAnimation (vuecli, 80%, running);
                  }
                  &.-vite:before {
                    .slideAnimation (vite, 75%, running);
                  }
                  &.-vuex:before {
                    .slideAnimation (vuex, 75%, running);
                  }
                  &.-vuerouter:before {
                    .slideAnimation (vuerouter, 75%, running);
                  }
                  &.-git:before {
                    .slideAnimation (git, 70%, running);
                  }

                  &.-webpack:before {
                    .slideAnimation (webpack, 60%, running);
                  }

                }
              }
            }
          }
        }
      }

      .skill-content {
        margin: 2rem 0 1.6rem;
        padding-left: 4.5rem;
        /* 设置了height为0且overflow为hidden后，技能列表就隐藏 */
        height: 0;
        overflow: hidden;

        .skill-list {

          .skill-item {
            margin-bottom: 2.5rem;

            // 技能
            .skill-title {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;

              @media screen and (min-width: 1024px) {
                font-size: 1.6rem;
              }

              .name {
                color: @text-color;
                font-weight: @semi-font;

              }

              .value {
                color: @text-color-lighter;
                font-weight: @medium-font;
              }
            }

            .skill-bar {
              width: 100%;
              height: 0.6rem;
              background-color: @first-color-lighter;

              &:before {
                content: '';
                display: block;
                height: inherit;
                background-color: @first-color;
              }
            }

            // 滑条
            // .skill-bar {
            //   width: 100%;
            //   height: 0.6rem;
            //   background-color: @first-color-lighter;
            //   &:before {
            //     content: '';
            //     display: block;
            //     height: inherit;
            //     background-color: @first-color;
            //   }
            //   &.-html:before {
            //     .slideAnimation (htmlcss, 90%);
            //     animation: htmlcss 2s forwards; // animation-fill-mode: forwards;动画结束后，停在结束位置
            //   }
            //   &.-css:before {
            //     .slideAnimation (javascript, 80%);
            //     animation: javascript 2s forwards;
            //   }
            //   &.-javascript:before {
            //     .slideAnimation (vue, 70%);
            //     animation: vue 2s forwards;
            //   }
            // }
          }

        }
      }
    }
  }
}

/* Skills End */


/* Qualification Start */
.qualification {
  .container {
    max-width: 40rem;

    @media screen and (min-width: 610px) {
      flex-direction: column;
      // align-items: center;
      // justify-content: flex-start;
    }

    .qualification-tabs {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 3rem;

      .qualification-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: @first-font;
        font-weight: @semi-font;
        color: @text-color-lighter;
        font-size: 1.8rem;
        padding: 1rem 0;
        background-color: transparent;

        @media screen and (min-width: 1024px) {
          font-size: 2rem;
        }

        svg {
          margin-right: 0.5rem;

          path {
            fill: @text-color-lighter;
          }
        }

        &.-active {
          color: @first-color;

          svg {
            path {
              fill: @first-color;
            }
          }
        }
      }
    }

    .qualification-content {
      width: 100%;
      display: none;

      &.-active {
        display: block;
      }

      .qualification-item {
        display: grid;
        // grid-template-columns: 1fr auto 1fr;
        grid-template-columns: 1fr max-content 1fr;

        .qualification-data {
          padding-bottom: 0.4rem;

          .title {
            font-size: 1.5rem;
            font-weight: @semi-font;
            color: @title-color;

            @media screen and (min-width: 1024px) {
              font-size: 1.6rem;
            }
          }

          .local {
            font-size: 1.3rem;
            color: @text-color-lighter;

            @media screen and (min-width: 1024px) {
              font-size: 1.4rem;
            }
          }

          .calendar {
            margin-top: 1.2rem;
            font-size: 1.2rem;
            color: @text-color-lighter;

            @media screen and (min-width: 1024px) {
              font-size: 1.3rem;
            }
          }
        }

        .qualification-timeline {
          position: relative;
          padding: 0 2rem;

          .ball {
            // 让圆圈●绝对定位，这个不会占有原来位置，并且可以压住下面的竖线
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 0.75rem;
            background-color: @first-color;
          }

          .line {
            // 圆圈添加绝对定位后，竖线就不必添加，添加了之后会压住小球
            // 且中间的盒子宽度是内容宽度，因此竖线宽度就是盒子宽度
            // 高度也是根据内容高度，没有内容时，高度为0
            // position: absolute;
            // top: 0;
            // left: 50%;
            // transform: translateX(-50%);
            display: block;
            height: 100%;
            width: 0.2rem;
            background-color: @text-color;
          }
        }

        &:last-child {

          // background-color: pink;
          .line {
            height: 0;
          }
        }
      }
    }
  }
}

/* Qualification End */


/* Service Start */

/* Service End */

/* Portfolio Start */
.portfolio {
  .container {
    padding-bottom: 6rem;

    .portfolio-carousel {
      position: relative;

      .glide__track {
        width: 26.6rem;
        height: auto;
        margin: 0 auto;

        .glide__slides {
          .glide__slide {
            video {
              width: 26rem;
              height: auto;
              border-radius: 1rem;
              margin-bottom: 2rem;
              &.map {
                max-height: 38.7rem;
              }
            }

            .portfolio-content {
              width: auto;
              max-width: 26.6rem;
              padding-bottom: 4.2rem;

              .title {
                font-size: 1.8rem;
                font-weight: @semi-font;
                color: @title-color;
                margin-bottom: 0.8rem;
              }

              .desc {
                font-size: 1.6rem;
                color: @text-color;
                font-weight: @medium-font;
                margin-bottom: 3rem;
              }

              .more {
                .button();
              }
            }
          }
        }
      }

      .glide__arrows {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;

        .glide__arrow {
          cursor: pointer;
        }

        .glide__arrow--left {
          path {
            fill: @first-color;
          }
        }

        .glide__arrow--right {
          path {
            fill: @first-color;
          }
        }
      }

      .glide__bullets {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        .glide__bullet {
          width: 0.8rem;
          height: 0.8rem;
          background-color: @first-color-lighter;
          border-radius: 0.4rem;

          &:not(:last-child) {
            margin-right: 0.5rem;
          }

          // .glide__bullet--active是插件内置的类
          &.glide__bullet--active {
            background-color: @first-color;
          }
        }

      }

      @media screen and (min-width: 610px) {
        .glide__track {
          width: 90%;

          .glide__slides {
            .glide__slide {
              display: flex;
              justify-content: center;
              video {
                max-width: 40rem;
                width: auto;
                height: auto;
              }

              .portfolio-content {
                padding-left: 2.4rem;
              }
            }
          }
        }
      }

      @media screen and (min-width: 1024px) {
        .glide__track {
          .glide__slides {
            .glide__slide {
              margin: 3rem;
              video {
                max-width: 60rem;
                width: auto;
                height: auto;
                margin-bottom: 1rem;
                margin-right: 1rem;
              }

              .portfolio-content {
                max-width: 80%;
                padding: 1rem 5rem 3rem 5rem;

                .title {
                  font-size: 2.1rem;
                  margin-bottom: 1.6rem;
                }

                .desc {
                  margin-bottom: 4rem;
                }

                .more {
                  padding: 1.6rem 2rem;

                  svg {
                    transform: translateX(0);
                    transition: .3s ease;
                  }

                  &:hover {
                    svg {
                      transform: translateX(0.5rem);
                      transition: .3s ease;
                    }
                  }
                }
              }
            }
          }
        }

        .glide__arrows {
          .glide__arrow {
            width: 2rem;
            height: 3.4rem;
          }

        }
      }
    }
  }
}

/* Portfolio End */


/* 作品demo Start */
.demo {
  .container {
    flex-direction: column;

    .demo-category {
      // width: 100%;
      display: flex;

      .category {
        padding: 2rem 3rem;
        color: @text-color-lighter;
        font-size: 2rem;
        font-weight: @medium-font;
        cursor: pointer;
        &.-active {
          color: @first-color;
          font-weight: @semi-font;
        }
      }
    }

    .demo-list {
      width: 100%;
      columns: 1;
      column-gap: 3rem;

      .item {
        width: 100%;
        background-color: @background-color;
        box-shadow: 1px 1px 6px 2px @shadow-color;
        border-radius: 2rem;
        margin-bottom: 4rem;
        padding: 2rem;
        break-inside: avoid; // 防止内容截断跨列显示问题

        &.drawing {
          column-span: 1;
        }

        video {
          margin: 0 auto 2rem;
          width: 100%;
          border-radius: 1rem;
          scale: 1;
          transition: .3s;

          &:hover {
            cursor: pointer;
            scale: 1.05;
            transition: .3s;
          }
        }

        .desc {
          font-size: 1.2rem;
          color: @text-color-lighter;
        }
      }

      @media screen and (min-width: 610px) {
        columns: 2;
      }

      @media screen and (min-width: 1024px) {
        max-width: 99.2rem;
        columns: 3;
      }

      // // column-gap: 1rem;
      // background-color: pink;
      // .item {
      //   width: 100%;
      //   img {
      //     width: 100%;
      //   }
      // }
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: repeat(4, 1fr);
      // grid-template-areas: 'a richText' 'c richText' 'drawing drawing' 'drawing drawing';
      // row-gap: 2rem;
      // column-gap: 1.5rem;
      // margin: 0 auto;
      // .item {
      //   width: 100%;
      //   display: flex;
      //   justify-content: center;
      //   img {
      //     position: relative;
      //     &::before {
      //       content: '';
      //       display: block;
      //       position: absolute;
      //       left: 0;
      //       top: 0;
      //       width: 100%;
      //       height: 100%;
      //       background-color: rgba(255, 0,0, .3);
      //     }
      //   }
      //   &.richText {
      //     grid-area: richText;
      //     img {
      //       width: auto;
      //     }
      //   }
      //   &.drawing {
      //     grid-area: drawing;
      //     img {
      //       height: 100%;
      //       width: auto;
      //     }
      //   }
      // }
    }
  }
  // .original {
  //   display: block;
  //   &.hidden {
  //     display: none;
  //   }
  // }
  // .vue {
  //   display: block;
  //   &.hidden {
  //     display: none;
  //   }
  // }
}

/* 作品demo End */


/* Newproject Start */
.newproject {
  background-color: @first-color;
  padding: 0;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0;

    // background-color: green;
    .newproject-content {
      padding: 5rem 0 8rem;
      width: 50%;
      text-align: center;

      .title {
        font-size: 2.5rem;
        font-weight: @semi-font;
        color: @high-contrast;
        margin-bottom: 1rem;
      }

      .subtitle {
        color: @high-contrast;
        font-size: 1.5rem;
        font-weight: @medium-font;
        padding-bottom: 2rem;
        margin-bottom: 3rem
      }

      .contactme {
        .button();
        background-color: @high-contrast;
        ;
        color: @first-color;
        transition: .3s;
        border: 1px solid transparent;

        svg {
          path {
            fill: @first-color;
            transition: .3s;
          }
        }

        &:hover {
          background-color: @first-color;
          color: @high-contrast;
          border: 1px solid @high-contrast;
          ;
          transition: .3s;

          path {
            fill: @high-contrast;
            ;
            transition: .3s;
          }
        }

        @media screen and (min-width: 1024px) {
          .contactme {
            font-size: 1.6rem;
          }
        }
      }
    }

    .newproject-photo {

      // background-color: pink;
      picture {
        display: flex;
        align-items: flex-end;
      }
    }

    @media screen and (min-width: 610px) {
      align-items: flex-end;

    }

    @media screen and (min-width: 1024px) {
      max-width: 74rem;

      .newproject-content {
        text-align: left;
      }

      .newproject-photo {
        width: 40%;

        img {
          width: 85%;
        }
      }
    }
  }

}

/* Newproject End */


/* Testimonial Start */
.testimonial {
  .container {
    padding: 1rem 2.4rem 6rem;

    .testimonial-carousel {
      margin-bottom: 3rem;

      .glide__slides {
        .glide__slide {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .slide-header {
            height: 6.2rem;

            display: flex;
            justify-content: space-between;

            .slide-client {
              display: flex;

              // justify-content: ;
              picture {
                width: 6.2rem;
                height: 6.2rem;
                display: flex;
                margin-right: 1rem;

                img {
                  border-radius: 50%;
                }
              }

              .slide-name {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;

                // gap: 0.5rem;
                .name {
                  font-size: 1.8rem;
                  font-weight: @semi-font;
                  color: @text-color;
                }

                .position {
                  font-size: 1.3rem;
                  font-weight: @medium-font;
                  color: @text-color-lighter;
                }
              }
            }

            .stars {
              display: flex;
              justify-content: flex-end;
              align-items: flex-start;

              svg:not(:last-child) {
                margin-right: 0.5rem;
              }

              path {
                fill: @first-color;
              }
            }
          }

          .slide-desc {
            font-size: 1.5rem;
            font-weight: @medium-font;
            color: @text-color-lighter;
            text-align: left;
            margin: 2rem 0;
          }
        }
      }

      .glide__bullets {

        margin-top: 2rem;
      }

    }

    @media screen and (min-width: 1024px) {
      .testimonial-carousel {
        margin-top: 5rem;
        margin-bottom: 5rem;
      }

      .glide__bullet {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

/* Testimonial End */

/* ContactMe Start */
#contact {
  margin-bottom: 20px;
  .container {
    // align-items: flex-start;
    align-items: center;

    .contactme-contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .contact {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 3.5rem;

        svg {
          margin-right: 1.5rem;

          path {
            fill: @first-color;
          }
        }

        .data {
          .title {
            font-size: 1.8rem;
            font-weight: @semi-font;
            color: @title-color;
          }

          .subtitle {
            font-size: 1.3rem;
            color: @text-color-lighter;
          }
        }

        @media screen and (min-width: 1024px) {
          .data {
            .title {
              font-size: 2.1rem;
            }

            .subtitle {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    .contactme-form {
      width: 100%;

      .contactme-field {
        // width: 100%;
        background-color: @input-color;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        padding: 1.6rem;
        margin-bottom: 2.4rem;

        .label {
          color: @text-color-lighter;
        }

        .input {
          padding: 0.5rem;
          background-color: transparent;
        }
      }

      .sendMsg {
        .button();
      }
    }
  }

  @media screen and (min-width: 610px) {
    .container {
      flex-direction: row;
      .contactme-contacts {
        flex-direction: row;
        justify-content: space-between;

      }
    }
  }

  @media screen and (min-width: 1024px) {
    .container {
      max-width: 99.2rem;
      margin: 0 auto;
      padding-left: 4rem;
      padding-right: 4rem;

      .contactme-contacts {
        // display: flex;
        
        // width: 75%;
        width: 100%;
      }

      .contactme-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 'a b''project project''message message''sendMsg .';
        column-gap: 2.4rem;

        .contactme-field {
          &.-project {
            grid-area: project;
          }

          &.-message {
            grid-area: message;
          }
        }

        .sendMsg {
          grid-area: sendMsg;
          width: 70%;
        }
      }
    }
  }

}

/* ContactMe End */


/* Footer Start */
.footer {
  padding: 2rem 0;
  background-color: @first-color;

  .container {
    padding: 2.4rem;

    // max-width: 99.2rem;
    .footer-title {
      width: 100%;
      margin-bottom: 2rem;

      // padding-top: 0;
      .title {
        font-size: 2.4rem;
        color: @high-contrast;
        margin-bottom: 0.6rem;
        font-weight: @semi-font;
      }

      .subtitle {
        font-size: 1.3rem;
        color: @first-color-lighter;
        font-weight: @semi-font;
      }
    }

    .sitemap {
      width: 100%;
      margin-bottom: 4rem;

      // margin-top: 4rem;
      .list {
        // width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .item {
          margin-bottom: 1.6rem;

          &:first-child {
            margin-top: 1.6rem;
          }

          .link {
            font-size: 1.5rem;
            color: @first-color-lighter;
            font-weight: @medium-font
          }
        }
      }
    }

    .footer-social {
      width: 100%;
      margin-bottom: 5rem;

      .social {
        display: flex;

        .item {
          &:not(:last-child) {
            margin-right: 4rem;

          }

          path {
            fill: @first-color-lighter
          }
        }
      }
    }
  }

  @media screen and (min-width: 610px) {
    .container {
      align-items: flex-start;

      .footer-title {
        // padding-top: 1rem;
      }

      .sitemap {
        .list {
          width: 50%;
          margin: 0 auto;

          .item:first-child {
            margin-top: 0;
          }
        }
      }

      .footer-social {
        .social {
          justify-content: flex-end;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 1.6rem 0;

    .container {
      padding: 0;

      .footer-title {
        .title {
          font-size: 3.8rem;
        }

        .sutitle {
          font-size: 1.4rem;
        }
      }

      .sitemap {
        .list {
          width: 100%;
          flex-direction: row;
          margin-top: 1rem;

          .item {
            &:not(:first-child) {
              margin-left: 2rem;
            }

            .link {
              font-size: 1.6rem;
            }
          }

        }
      }

      .footer-social {
        .social {
          margin-top: 1rem;
        }
      }
    }
  }
}

/* Footer End */

/* to top BTN Start */
.btn-totop {
  display: block;
  position: fixed;
  bottom: 10rem;
  right: 4rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: @first-color;
  opacity: 0.3;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  visibility: hidden;

  &.-visible {
    visibility: visible;
  }

  img {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    opacity: 1;
    transition: .5s;
  }
}

/* to top BTN End */